/* Basic Reset */
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

/* fixed header  */
.header{
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color:rgba(254, 31, 31,0);
	
	/* text-align: center; */
	padding:10px 0
}

.header a:hover{
	background-color:blue;
	border-radius: 4px;
	padding: 5px 10px;
}
.img1{
float:right;
height:300px;
width: 600px;
margin-left:10px; 
margin-bottom:10px ;
}
.img2{
	float:right;
	clear:right;
height:300px;
width:600px;
 margin-left:10px; 
 margin-bottom: 20px;
}
#home{
	height: 700px;
	width:100% ;
	margin-top:30px ;
	
	background-color: white;
	color: black;
	font-display: overline;
	overflow:scroll;
} 

/* Animation Keyframes */
@keyframes fadeInUp {
	from {
	  opacity: 0; /* Start invisible */
	  transform: translateY(20px); /* Start slightly lower */
	}
	to {
	  opacity: 1; /* Fully visible */
	  transform: translateY(0); /* Final position */
	}
  }
  
  /* Applying the Animation */
  .fade-slide{
	opacity: 0; /* Start hidden */
	animation: fadeInUp 1s ease-in-out forwards; /* Smooth animation */
  }
  
  .p1{
	margin-left: 20px;
	color:black;
	font-size: 3rem;
	font-weight:50px ;
	opacity: 0; /* Start hidden */
	animation: fadeInUp 2s ease-in-out forwards; /* Smooth animation */
  }
  
#about{
	overflow:scroll;
}
  .p2{
	line-height:100px;
	color: blue;
	font-size: 30px;
	font-weight:50px;
	opacity: 0; /* Start hidden */
	animation: fadeInUp 3s ease-in-out forwards; /* Smooth animation */
  }
  h1{
	margin-left: 110px;
	font-size: 60px;
	font-weight:80px;
	color: crimson;
  }
  
  /* about section */
  #about{
	
	background-color: rgb(157, 167, 23);
	height: 700px;
	width:100% ;
  }
.p3{
	
	color: red;
	font-size: 40px;
	font-weight:50px ;
	opacity: 0; /* Start hidden */
	animation: fadeInUp 2s ease-in-out forwards; /* Smooth animation */
}

.p4{
	color: red;
	font-size: 40px;
	font-weight:50px ;
	opacity: 0; /* Start hidden */
	animation: fadeInUp 2s ease-in-out forwards; /* Smooth animation */

}




  .img3{
	float:left;
	
height:300px;
width:600px;
 margin-right:100px; 
 margin-bottom: 10px;
  }
  .img4{
	float:left;
	clear: left;
	height:300px;
	width: 600px;
	margin-right:100px; 
	margin-bottom:10px ;
	}
	
	
	#skills{
		 background-color: rgb(210, 101, 12); 
	height: 700px;
	width:100% ;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 900px;
		width: 100%;
		
	}
	.container{
		justify-content: center;
		
	}
	.orbit{
		
		justify-content: center;
		height:100px;
		width:100px;
		
		position: relative;
		
		
	}
		.ritesh{
			height:100px;
          width:100px;
		  border-radius:50%;
		  background-color: yellow;
		  display:flex;
		  justify-content: center;
		  align-items: center;
		  position: absolute;
			top: 0;
			left:0;

		}
		.html{
			align-items: center;
			height: 50px;
			width:50px;
			border-radius:50%;
			background-color: orange;
			display:flex;
		  justify-content: center;
			position: absolute;
			top: 0;
			left:0;
			animation-name: html;
			animation-duration: 10s;
			animation-timing-function: linear;
				animation-iteration-count: infinite;}
  @keyframes html{
from{
	transform:rotate(0deg) translate(150px) rotate(0deg);
}
to{
	transform:rotate(360deg) translate(150px) rotate(-360deg);
}


  }
		
   .css{
	align-items: center;
	height: 50px;
			width:50px;
			border-radius:50%;
			background-color: blue;
			display:flex;
		  justify-content: center;
			position: absolute;
			top: 0;
			left:0;
			animation-name:css;
			animation-duration: 8s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;}
  @keyframes css{
from{
	transform:rotate(0deg) translate(250px) rotate(0deg);
}
to{
	transform:rotate(360deg) translate(250px) rotate(-360deg);
}}

.javascript{
	align-items: center;
	
	height: 100px;
			width:100px;
			border-radius:50%;
			background-color:red;
			display:flex;
		  justify-content: center;
			position: absolute;
			top: 0;
			left:0;
			animation-name:java;
			animation-duration: 8s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;}
  @keyframes java{
from{
	transform:rotate(0deg) translate(350px) rotate(0deg);
}
to{
	transform:rotate(360deg) translate(350px) rotate(-360deg);
}}
.imgrit{
	height: 150px;
	width:150px;
	object-fit:cover;
}
.type{
	align-items: center;
	
	height: 100px;
			width:100px;
			border-radius:50%;
			background-color:red;
			display:flex;
		  justify-content: center;
			position: absolute;
			top: 0;
			left:0;
			animation-name:java;
			animation-duration: 8s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;}
  @keyframes java{
from{
	transform:rotate(0deg) translate(350px) rotate(0deg);
}
to{
	transform:rotate(360deg) translate(350px) rotate(-360deg);
}}

.DSA{
	align-items: center;
	
	height: 150px;
			width:150px;
			border-radius:50%;
			background-color:rgb(23, 234, 19);
			display:flex;
		  justify-content: center;
			position: absolute;
			top: 0;
			left:0;
			animation-name:java;
			animation-duration: 20s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;}
  @keyframes java{
from{
	transform:rotate(0deg) translate(500px) rotate(0deg);
}
to{
	transform:rotate(360deg) translate(500px) rotate(-360deg);
}}

.react{
	align-items: center;
	
	height: 100px;
			width:100px;
			border-radius:50%;
			background-color:rgba(232, 8, 221, 0.642);
			display:flex;
		  justify-content: center;
			position: absolute;
			top: 0;
			left:0;
			animation-name:java;
			animation-duration: 10s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;}
  @keyframes java{
from{
	transform:rotate(0deg) translate(300px) rotate(0deg);
}
to{
	transform:rotate(360deg) translate(300px) rotate(-360deg);
}}

.next{
	align-items: center;
	
	height: 100px;
			width:100px;
			border-radius:50%;
			background-color:rgba(222, 241, 9, 0.849);
			display:flex;
		  justify-content: center;
			position: absolute;
			top: 0;
			left:0;
			animation-name:java;
			animation-duration: 12s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;}
  @keyframes java{
from{
	transform:rotate(0deg) translate(200px) rotate(0deg);
}
to{
	transform:rotate(360deg) translate(200px) rotate(-360deg);
}}

.blockchain{
	align-items: center;
	
	height: 100px;
			width:100px;
			border-radius:50%;
			background-color:rgba(12, 231, 209, 0.84);
			display:flex;
		  justify-content: center;
			position: absolute;
			top: 0;
			left:0;
			animation-name:java;
			animation-duration: 15s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;}
  @keyframes java{
from{
	transform:rotate(0deg) translate(350px) rotate(0deg);
}
to{
	transform:rotate(360deg) translate(350px) rotate(-360deg);
}}
#contacts{
	background-color: rgb(62, 211, 16); 
	height: 200px;
	width:100% ;
		}
.contain{
display: flex;
flex-wrap: wrap;

}
.box{
	padding:10px;
	background-color: lightblue;
	margin:5px
}

.box1{
font-weight: bolder;
color: crimson;
}
.box2{
font-weight: bolder;
}
